<div class="conteudo">
  <div class="row">
    <div class="col-12 col-sm-8 direita">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet debitis doloremque esse eum fuga, harum illum ipsum neque odit porro quas sed tempora tempore ullam vitae? Amet, dolores?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet debitis doloremque esse eum fuga, harum illum ipsum neque odit porro quas sed tempora tempore ullam vitae? Amet, dolores?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet debitis doloremque esse eum fuga, harum illum ipsum neque odit porro quas sed tempora tempore ullam vitae? Amet, dolores?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet debitis doloremque esse eum fuga, harum illum ipsum neque odit porro quas sed tempora tempore ullam vitae? Amet, dolores?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet debitis doloremque esse eum fuga, harum illum ipsum neque odit porro quas sed tempora tempore ullam vitae? Amet, dolores?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium amet debitis doloremque esse eum fuga, harum illum ipsum neque odit porro quas sed tempora tempore ullam vitae? Amet, dolores?</p>
    </div>
    <div class="col-12 col-sm-4 esquerda">
      <img src="http://placehold.it/340x605" alt="">
    </div>
  </div>
</div>
